.full-content-privacidade {
  padding: 40px 0 85px 0;
  float: left;
}

.privacidade h1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
}

.privacidade h2 {
  display: table;
  width: 100%;
  padding: 10px 20px;
  margin: 50px 0 20px 0;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;
  color: #18857D;
  background: #f2f2f2;
}

.privacidade h3 {
  color: #242F40;
  margin: 70px auto 50px auto;
  font-size: 18px;
}

.privacidade p {
  margin: 30px 0;
  text-align: justify;
}

.privacidade .table-privacidade {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #242F40;
  text-align: justify;
  margin-bottom: 24px;
  margin: 40px 0 70px 0;
  padding: 0;
}

.privacidade .table-border-right {
  background-color: #18857D;
  color: #ffffff;
  border: 1px solid #242F40;
  border-right: 1px solid #242F4071;
  box-sizing: border-box;
  text-align: center;
  height: auto;
  vertical-align: middle;
  padding: 5px;
}

.privacidade .table-descricao {
  background-color: #18857D;
  color: #ffffff;
  border: 1px solid #242F40;
  box-sizing: border-box;
  text-align: center;
  height: auto;
  vertical-align: middle;
  padding: 15px;
}

.privacidade .table-conteudo {
  border: 1px solid #242F40;
  box-sizing: border-box;
  height: auto;
  vertical-align: middle;
  padding: 15px;
}

.privacidade .espaco-table {
  margin: 0;
  color: #242F40;
  font-weight: 400;
  font-size: 16px;
}

.privacidade .espaco-table2 {
  padding-top: 25px;
  margin: 0;
  color: #242F40;
  font-weight: 400;
  font-size: 16px;
}

.privacidade .avisos-title {
  color: #18857D;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.privacidade .fornecedores-title {
  background-color: #18857D;
  color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  height: auto;
  vertical-align: middle;
}

.privacidade .fornecedores {
  background-color: #18857D;
  color: #ffffff;
  padding: 0 30px 20px 30px;
  box-sizing: border-box;
  height: auto;
  vertical-align: middle;
}

.privacidade .fornecedores-bottom {
  background-color: #18857D;
  color: #ffffff;
  padding: 10px 30px 30px 30px;
  box-sizing: border-box;
  height: auto;
  vertical-align: middle;
}

.privacidade .avisos {
  background-color: #18857D;
  color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
  height: auto;
  vertical-align: middle;
}

.privacidade .avisos-espaco {
  background-color: #18857D;
  color: #ffffff;
  padding: 0 30px 20px 30px;
  box-sizing: border-box;
  height: auto;
  vertical-align: middle;
}

.privacidade .avisos-bottom {
  background-color: #18857D;
  color: #ffffff;
  padding: 10px 30px 30px 30px;
  box-sizing: border-box;
  height: auto;
  vertical-align: middle;
}

.privacidade .div-btn {
  width: 300px;
  margin: 0 auto;
}

.privacidade .btn-form {
  border: 0;
  padding: 5px 20px;
  color: #ffffff;
  background-color: transparent;
  display: table;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .privacidade .table-descricao {
    background-color: #18857D;
    color: #ffffff;
    border: 1px solid #242F40;
    padding: 1px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    height: auto;
    vertical-align: middle;
  }
}

@media (max-width: 500px) {
  .privacidade .table-privacidade {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #242F40;
    text-align: justify;
    margin-bottom: 24px;
    margin: 40px 0 70px 0;
    padding: 0;
    overflow-y: scroll;
  }
}
